<% include ../views/partials/header %>

    </head>
    <body style="background-color:#ff44ff;">          

    <div class="container">
        <%- messages('message', locals) %>



<div class="row">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<div class="row" style="text-align:center;">
				<div class="col-xs-3" style="background-color:#44ffff;"><br><a href="/my-profile" style="color:black;">My Profile<br><i class="fas fa-user-circle"></i></a><br><br></div>
				<div class="col-xs-3" style="background-color:white;"><br><a href="/add-info" style="color:black;">Add Info<br><i class="fas fa-plus-circle"></i></a><br><br></div>
				<div class="col-xs-3">
					<div class="row" style="text-align:center;">
						<div class="col-xs-4" style="background-color:#ff44ff;"><br><br><br><br></div>
						<div class="col-xs-8" style="background-color:#884488;opacity:0.35;"><br><br><br><br></div>
					</div>
				</div>
				<div class="col-xs-3" style="background-color:gray;"><br><a href="/logout" style="color:black;">Sign Out<br><i class="fas fa-sign-out-alt"></i></a><br><br></div>
			</div>

			<div class="row" style="text-align:center;">
				<div class="col-xs-7" style="background-color:#ff44ff;"><br><a href="/swipe" style="color:black;"><b>Swipe</b><br><i class="far fa-hand-point-right"></i> <span style="font-size:10px;"><%= friendsToBe %></span></a><br><br></div>
				<div class="col-xs-5" style="background-color:#884488;opacity:0.35;"><br><a href="/matches" style="color:black;">Matches<br><i class="fas fa-people-arrows"></i> <span style="font-size:10px;"><%= friends %></span></a><br><br></div>
			</div>


<% if (kindred.length > 0) { %>
<div id="text-carousel" class="carousel" style="background-color:#ffffff;margin:15px;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner" style="text-align:center;">

		<% var j = 1; %>
                <% kindred.forEach(function(user) { %>

                <div class="item <% if (j == 1) { %>active<% } %>">
                    <div class="carousel-content">
				<br>
				<br>

				<span style="font-size:42px;">
					<i class="fas fa-user-alt"></i>
				</span>

				<br>

				<span style="font-size:14px;">
					<%= j++ %> / <%= kindred.length %>
				</span>


				<br>
				<br>

				<div style="font-size:12px;text-align:left;">
                	        <% user.tags.forEach(function(tag) { %>
					<i class="fas fa-comments"></i> You both said, 
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<span style="font-size:10px;">&ldquo;<%= tag %>&rdquo;</span><br>
				    </tr>
        	                <% }); %>
				</div>

				<br>

				<form class="form-inline" method="POST" action="/match/send">

					<input type="hidden" name="matchId" value="<%= user.email %>">

					<button type="submit" class="btn btn-primary btn-lg">
						<span style="font-size:12px;">
							click to &ldquo;Swipe Right&rdquo;
						</span>
					</button>
				</form>
                    </div>
                </div>

                <% }); %>
		<br>
		<br>
	    </div>
	</div>
    </div>
<% } %>
<% if (kindred.length > 1) { %>
    <!-- Controls --> 

 <a class="left carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span style="font-size:14px;">back</span>
  </a>

 <a class="right carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span style="font-size:14px;">next</span>
  </a>
<% } %>
<% if (kindred.length > 0) { %>
</div>
<% } %>


<% if (kindred.length == 0) { %>


<div style="text-align:center;">
				<br>
				<br>

				No matches.
				<br>
				Try <a href="/add-info">adding</a> some more <a href="/add-info">info</a>?
</div>
<% } %>






		</div>
	</div>

<% include ../views/partials/footer %>

