<% include ../views/partials/header %>

    </head>
    <body style="background-color:white;">          

<% include ../views/partials/header2 %>


	<div class="row">
	<div class="col-md-12">
            <div class="well" style="background-color:#dddddd;margin:15px;">
            <form class="form-inline" method="POST" action="/search/query">
                <div class="row">

                    <div class="col-xs-6" style="text-align:right;">
                        <input type="text" name="statementQuery" placeholder="<% if (query ==="") { %>e.g. &ldquo;music&rdquo;<% } else { %><%= query %><% } %>" maxlength="100" <% if (query === "") { %>autofocus<% } %>>
                    </div>

                    <div class="col-xs-1"></div>

                    <div class="col-xs-4" style="text-align:left;">
			<button type="submit" class="btn btn-success" style="background-color:#44dd44;">
                            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#e5e5e5;"><i class="fas fa-search"></i> SEARCH</span>
			</button>
                    </div>
                </div>
            </form>
            </div>
		<div style="text-align:right;">
			<a href="/view-all-tweets" target="_blank">Click here to view all.</a>
		</div>
	</div>
	</div>







<% if (tagsAll.length > 0) { %>




        <!-- answered by DJ18 https://stackoverflow.com/questions/9707397/making-a-div-vertically-scrollable-using-css -->
        <div id="poop" onscroll="myFunction()" style="overflow-y:scroll; overflow-x:hidden; height:350px;margin:15px;">
        <table class="table table-hover" style="background-color:#dddddd;">

            <% tagsAll.forEach(function(tag){ %>
            <tr><td><div class="row">
		<div class="col-xs-7" style="word-wrap:break-word;display:inline-block;">
			<span style="font-size:10px;">
				<%= tag.count %> <% if (tag.count == 1) { %> person <% } else { %> people <% } %> tweeted,
			</span>

			<br>

			<span style="font-family: 'Times New Roman', Times, serif;font-weight:bold;font-size:17px;">
				<%= tag.description.substring(0, tag.description.toLowerCase().indexOf(query.toLowerCase())) %><span style="background-color:yellow;"><%= tag.description.substring(tag.description.toLowerCase().indexOf(query.toLowerCase()), tag.description.toLowerCase().indexOf(query.toLowerCase())+query.length) %></span><%= tag.description.substring(tag.description.toLowerCase().indexOf(query.toLowerCase())+query.length, tag.description.length) %>
			</span>
		</div>
		<div class="col-xs-5">

				<br>

                            <%# this chunk of code makes sure that a plus sign only appears in front of tags that the user hasn't added yet %>
                            <%
                                var userAlreadyAddedTag = false;
                                if (tags.length > 0) {
                                    tags.forEach(function(userTag) {
                                        if (userTag.description == tag.description) {
                                            userAlreadyAddedTag = true;
                                        }
                                    })
                                }
                            %>

                            <%if (!userAlreadyAddedTag) { %>
                                    <form method="POST" class="form-inline" action="/search/add_tag"> <!-- https://stackoverflow.com/questions/37954005/keep-scroll-position-of-a-div-after-a-form-submit-using-session-var-or-css -->
                                        <input type="hidden" name="tag" value="<%= tag.description %>">

					<button type="submit" class="btn btn-primary">
                                            <span style="font-size:9px;font-family:Helvetica;font-weight:bold;">RE-TWEET</span> <span style="font-size:12px;"><i class="fas fa-retweet"></i></span>
                                        </button>
                                    </form>

                            <% } else{ %>
                                <form method="POST" class="form-inline" action="/search/remove_tag">
                                        <input type="hidden" name="tag" value="<%= tag.description %>">

					<button type="submit" class="btn btn-danger">
                                            <span style="font-size:9px;font-family:Helvetica;font-weight:bold;">UN-TWEET</span> <span style="font-size:12px;"><i class="fas fa-undo-alt"></i></span>
                                        </button>
                                </form>
                            <% } %>
		</div>
	    </div></td></tr>
            <% }) %>
            <tr><td><div class="row">
		<form class="form-inline" method="POST" action="/search/add_tag">
		<div class="col-xs-7" style="word-wrap:break-word;display:inline-block;">

			<br>

        		<input type="hidden" name="isUpload" value="true">
        		<input type="text" name="tag" placeholder="tweet something new?" maxlength="100" required="required">

			<br>
			<br>

		</div>
		<div class="col-xs-5" style="text-align:left;">                            
			<br>
			<button type="submit" class="btn btn-primary">
	                    <span style="font-size:9px;font-family:Helvetica;font-weight:bold;">TWEET</span> <span style="font-size:12px;"><i class="fab fa-twitter"></i></span>
			</button>
		</div>
		</form>
	    </div></td></tr>
        </table>
        </div>
<% } %>






<% if (tagsAll.length == 0) { %>

	<br>

	<% if (searchCount < 2) { %>

		<span style="font-family: 'Times New Roman', Times, serif;font-weight:bold;font-size:17px;">
			No results found.
		</span>

	<% } else { %>

				<br>
				<span style="color:red;">Bad news:</span>
				<span style="font-size:11px;">
					No one tweeted &ldquo;<%= query %>&rdquo; yet.
				</span>
				<br>
				<span style="color:green;">Good news:</span>
				<span style="font-size:11px;">
					<%= searchCount - 1 %> other 
					<% if (searchCount == 2) { %> 
						person 
					<% } else { %>
						people 
					<% } %>
					searched for &ldquo;<%= query %>&rdquo;<br>
				</span>
				<span style="color:white;">Good news:</span>
				<span style="font-size:11px;">
					so they're shy but interested.
				</span>
	<% } %>

	<br>

	<div class="row">
	<div class="col-md-12">
            <div class="well" style="background-color:#dddddd;margin:15px;">
            <form class="form-inline" method="POST" action="/search/add_tag">
                <div class="row">

                    <div class="col-xs-6" style="word-wrap:break-word;display:inline-block;">
        		<input type="hidden" name="isUpload" value="true">
        		<input type="text" name="tag" placeholder="tweet about &ldquo;<%= query %>&rdquo;?" maxlength="100" required="required" autofocus>

			<% if (searchCount > 1) { %>
				<br>
				<span style="font-size:10px;">
					You can be the trend-setter<i>!</i>
				</span>
			<% } %>
                    </div>

                    <div class="col-xs-1"></div>

                    <div class="col-xs-4" style="text-align:left;">
			<button type="submit" class="btn btn-primary">
	                    <span style="font-size:9px;font-family:Helvetica;font-weight:bold;">TWEET</span> <span style="font-size:12px;"><i class="fab fa-twitter"></i></span>
			</button>
                    </div>
                </div>
            </form>
            </div>
	</div>
	</div>

<% } %>




		</div>
	</div>






<!-- https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_element_scrollleft -->
<script>
function myFunction() {
  localStorage.setItem("scrollPos", document.getElementById("poop").scrollTop);
}
window.onload = function () { 
  document.getElementById("poop").scrollTop = localStorage.getItem("scrollPos");
}
</script>

<% include ../views/partials/footer %>
